<section>
  <div class="container">
    <h1 class="text-2.25rem text-w-semibold mb-8 d-none" md="d-block">سبد خرید</h1>
    <!-- for mobile -->
    <div class="col-12 text-110 mb-4 mt-14 mr-2 d-flex a-items-center" md="d-none">
      <div class="h-2 w-2 bg-c-primary rounded-full ml-3">
      </div>
      برای دیدن محصولات موجود در سبد خرید، ورق بزنید
    </div>

    <div class="mt-4" md="bg-white rounded-(1.563rem) mt-0">

      <div class="grid cols-12 gap-0 gap-y-6" md="gap-y-0">

        <div class="col-12 p-relative order-last" md="col-7 order-first" lg="col-8">

          <div class="border-2 border-c-lgray bg-white rounded-(1.563rem) pa-10" md="p-absolute inset-14 pa-8" lg="inset-24 pa-16">

            <div class="text-170 text-w-semibold text-a-center" md="d-flex a-items-center text-a-right text-2.25rem">
              <i class="ri-shopping-basket-2-line text-w-normal text-250  d-block" md="d-inline ml-4 text-300"></i>
              جزئیات پرداخت
            </div>

            <form action="#" method="post" class="p-relative grid cols-1 gap-x-6 gap-y-10 mt-12" lg="cols-2 mt-6 pb-10rem">

              <div class="p-relative">
                <div class="errors"></div>
                <input id="chName" class="myinput" type="text" placeholder="نام" name="" value="">
              </div>

              <div class="p-relative">
                <div class="errors"></div>
                <input id="chFamily" class="myinput" type="text" placeholder="نام خانوادگی" name="" value="">
              </div>

              <div class="p-relative">
                <div class="errors"></div>
                <input class="myinput" type="text" placeholder="شرکت (اختیاری)" name="" value="">
              </div>

              <div class="p-relative">
                <div class="errors"></div>
                <input class="myinput" type="text" placeholder="کشور (اختیاری)" name="" value="">
              </div>

              <div class="p-relative">
                <div class="errors"></div>
                <input id="chTel" class="myinput" type="text" placeholder="شماره موبایل" maxlength="11" name="" value="">
              </div>

              <div class="p-relative">
                <div class="errors"></div>
                <input id="chMail" class="myinput" type="text" placeholder="پست الکترونیک" name="" value="">
              </div>



              <div lg="p-absolute bottom-0 inset-x-4">

                <a id="checkout" href="#" class="buy-btn mb-0">تسویه حساب</a>

              </div>

            </form>

          </div>
        </div>

        <!-- for pc -->
        <div class="pt-4 p-relative order-first d-none" md="d-block col-5 order-last border-right-2 border-c-lgray" lg="col-4 pt-16 px-8">

          <div class="p-absolute bottom-0 z-(1) inset-x-0 :background-(linear-gradient(180deg,transparent,white)) h-27.25rem d-flex a-items-center j-content-center px-8" lg="px-20">
            <a class="w-full ml-5px bg-c-black d-flex a-items-center j-content-center h-5.625rem text-1.625rem text-c-white text-w-semibold rounded-1.25rem mx-auto mt-38 pa-4 text-a-center" href="#">ویرایش سبد خرید</a>
          </div>

          <div class="overflow-scroll :overflow-x-(hidden) px-10 h-54.5rem p-relative py-1.438rem bg-imgs" md="px-12 h-72rem" lg="h-54.5rem">


            <div class="rounded-(1.563rem) p-relative mb-10">

              <div class="w-(100%) p-relative overflow-hidden pt-16.5rem rounded-16">
                <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
              </div>
              <div class="dir-rtl">
                <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                <div class="mt-4" lg="d-flex a-items-center mt-0">
                  <div class="text-1.625rem text-w-semibold">
                    20000 تومان
                  </div>
                  <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                    ضریب موکاپ 2 است
                  </div>
                </div>
              </div>
            </div>

            <div class="rounded-(1.563rem) p-relative mb-10">

              <div class="w-(100%) p-relative overflow-hidden pt-16.5rem rounded-16">
                <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
              </div>
              <div class="dir-rtl">
                <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                <div class="mt-4" lg="d-flex a-items-center mt-0">
                  <div class="text-1.625rem text-w-semibold">
                    20000 تومان
                  </div>
                  <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                    ضریب موکاپ 2 است
                  </div>
                </div>
              </div>
            </div>

            <div class="rounded-(1.563rem) p-relative mb-10">

              <div class="w-(100%) p-relative overflow-hidden pt-16.5rem rounded-16">
                <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
              </div>
              <div class="dir-rtl">
                <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                <div class="mt-4" lg="d-flex a-items-center mt-0">
                  <div class="text-1.625rem text-w-semibold">
                    20000 تومان
                  </div>
                  <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                    ضریب موکاپ 2 است
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>

        <!-- for mobile -->
        <div class="swiper mySwiper col-12 order-first pa-6" md="d-none">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div parent class="rounded-(1.563rem) p-relative mb-10">
                <div class="w-(100%) p-relative overflow-hidden pt-24rem rounded-16" sm="pt-33rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
                </div>
                <div class="dir-rtl">
                  <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                  <div class="mt-4" lg="d-flex a-items-center mt-0">
                    <div class="text-1.625rem text-w-semibold">
                      20000 تومان
                    </div>
                    <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                      ضریب موکاپ 2 است
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div parent class="rounded-(1.563rem) p-relative mb-10">

                <div class="w-(100%) p-relative overflow-hidden pt-24rem rounded-16" sm="pt-33rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
                </div>
                <div class="dir-rtl">
                  <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                  <div class="mt-4" lg="d-flex a-items-center mt-0">
                    <div class="text-1.625rem text-w-semibold">
                      20000 تومان
                    </div>
                    <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                      ضریب موکاپ 2 است
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div parent class="rounded-(1.563rem) p-relative mb-10">

                <div class="w-(100%) p-relative overflow-hidden pt-24rem rounded-16" sm="pt-33rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
                </div>
                <div class="dir-rtl">
                  <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                  <div class="mt-4" lg="d-flex a-items-center mt-0">
                    <div class="text-1.625rem text-w-semibold">
                      20000 تومان
                    </div>
                    <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                      ضریب موکاپ 2 است
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <a class="col-12 d-block w-full bg-c-black d-flex a-items-center j-content-center h-5.625rem text-1.625rem text-c-white text-w-semibold rounded-1.25rem  pa-4 text-a-center" md="d-none" href="#">ویرایش سبد خرید</a>


      </div>
    </div>
  </div>
</section>
