<section id="guide">
  <div class="container">
    <h1 class="text-2.25rem text-w-semibold mb-8 text-a-center d-none" md="text-a-right d-block">راهنمای استفاده</h1>
    <div class="mb-12 rounded-full a-items-center j-content-center w-15rem h-4.063rem border-1 border-c-primary bg-c-#EFF8F3 text-1.25rem text-c-fbgray mx-auto d-none" md="d-flex mx-unset">
      بروزرسانی در 25 تیر 1401
    </div>
    <div class="grid cols-12 gap-0">


      <!-- for pc -->
      <div class="pt-14 boobs text-a-center mb-12 d-none" md="d-block col-3 text-a-right mb-0" children-div="text-1.75rem text-w-medium mt-4">
        <div class="!mt-0" data-tab="tab-1">ثبت نام در سایت</div>
        <div data-tab="tab-2">خرید اشتراک</div>
        <div data-tab="tab-3" class="!text-1.375rem text-c-fbgray !text-w-normal" sm="pr-10">اشتراک سه ماهه</div>
        <div data-tab="tab-4" class="!text-1.375rem text-c-fbgray !text-w-normal" sm="pr-10">اشتراک شش ماهه</div>
        <div data-tab="tab-5">مقررات عمومی</div>
        <div data-tab="tab-6">حق نشر و فروش</div>
        <div data-tab="tab-7">استفاده از سایت</div>
        <div data-tab="tab-8">خرید موکاپ</div>
        <div data-tab="tab-9">بیب بیب بوب</div>
        <div data-tab="tab-10">تست آخر</div>
      </div>


      <!-- for mobile -->
      <div class="col-12 swiper mySwiper2 mb-8 mt-4" md="d-none">
        <div class="swiper-wrapper boobs">

          <div data-tab="tab-1" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">ثبت نام در سایت</button>
          </div>

          <div data-tab="tab-2" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">خرید اشتراک</button>
          </div>

          <div data-tab="tab-3" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">اشتراک سه ماهه</button>
          </div>

          <div data-tab="tab-4" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">اشتراک شش ماهه</button>
          </div>

          <div data-tab="tab-5" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">مقررات عمومی</button>
          </div>

          <div data-tab="tab-6" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">حق نشر و فروش</button>
          </div>

          <div data-tab="tab-7" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">استفاده از سایت</button>
          </div>

          <div data-tab="tab-8" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">خرید موکاپ</button>
          </div>

          <div data-tab="tab-9" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">بیب بیب بوب</button>
          </div>

          <div data-tab="tab-10" class="swiper-slide !w-auto">
            <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">تست آخر</button>
          </div>


        </div>
      </div>



      <div class="col-12 bg-c-white rounded-(1.563rem) pa-8" md="col-9 py-12 px-22">

        <div id="tab-1" class="d-none tab-content !d-block" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-2" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>2ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>


        </div>

        <div id="tab-3" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>3ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-4" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>4ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-5" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>5ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-6" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>6ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-7" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>7ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-8" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>8ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-9" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>9ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

        <div id="tab-10" class="d-none tab-content" children-h2="text-1.75rem text-w-semibold mt-10" children-p="text-1.375rem text-c-fbgray">
          <h2>10ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>

          <h2>ثبت نام در سایت</h2>
          <p>فونت یکان‌بخ برای نیاز امروز طراحی شده است، چراکه فونتی است ساده، خنثی، ویژه‌ی فضای پیکسلی و مناسب برای فضاهای چاپی. این ویژگی‌ها باعث شده تا فونت یکان‌بخ در موقعیت‌های مختلف کارآمد و بدون دردسر عمل کند در یکان‌بخ همه‌ی کاراکترها به‌شکل
            اغراق‌آمیزی ساده طراحی شده است. جزئیات تا جای ممکن حذف شده‌اند و حرکت‌ها ساده‌سازی شده</p>
        </div>

      </div>

    </div>
  </div>
</section>
