<section>
  <div class="container mt-12" md="mt-0">

    <div class="p-relative bg-transparent w-23.625rem mx-auto">
      <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-16.5rem">
        <img src="./img/post8.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
      </div>
    </div>

    <div class="text-1.625rem text-c-fbgray text-a-center mt-6">موکاپ لایه باز لباس ورزشی</div>
    <div class="text-2.813rem mt-8 text-w-medium text-a-center download-text">
      ممنونیم! لینک دانلود از
      <span class="download-timer">10</span>
      ثانیه دیگر آماده است
    </div>

    <div class="text-1.625rem text-c-fbgray text-a-center mt-4" children-a="text-c-#00A8FF text-d-(underline) :text-decoration-thickness-(1px)">
      اگر دانلود شما بعد از گذشت زمان به صورت خودکار آماده نبود ،
      <a href="#">اینجا کلیک کنید</a>
    </div>


  </div>
</section>
