<section>
  <div class="container">
    <h1 class="text-2.25rem text-w-semibold mb-8 d-none" md="d-block">سبد خرید</h1>

    <!-- for mobile -->
    <div class="col-12 text-110 mb-4 mt-14 mr-2 d-flex a-items-center" md="d-none">
      <div class="h-2 w-2 bg-c-primary rounded-full ml-3">
      </div>
      برای دیدن محصولات موجود در سبد خرید، ورق بزنید
    </div>

    <div class="mt-4" md="bg-white rounded-(1.563rem) mt-0">
      <div class="grid cols-12 gap-0 gap-y-6" md="gap-y-0">


        <div class="col-12 p-relative order-last" md="col-7 order-first" lg="col-8">

          <div class="border-2 bg-white border-c-lgray rounded-(1.563rem) pa-10" md="p-absolute inset-14 pa-8" lg="inset-24 pa-16 pt-10">

            <div class="text-170 text-w-semibold text-a-center" md="d-flex a-items-center text-a-right text-2.25rem">
              <i class="ri-bill-line text-w-normal text-250  d-block" md="d-inline ml-4 text-300"></i>
              صورتحساب
            </div>

            <div class="rounded-1.25rem border-1 border-c-lgray px-12 grid cols-1 gap-0 mt-10 text-a-center py-12" md="py-0 cols-2 mt-6 text-a-right">

              <div class="text-160 text-lh-12" md="border-bottom-1 border-c-lgray text-lh-28 text-1.625rem">
                قیمت کل
              </div>

              <div class="text-160 border-bottom-1 border-c-lgray text-lh-12 pb-2" md="text-lh-28 text-1.625rem text-a-left pb-0">
                40000 تومان
              </div>

              <div class="text-160 text-w-semibold text-lh-12 mt-2" md="text-1.625rem text-lh-28 mt-0">
                مجموع
              </div>

              <div class="text-160 text-w-semibold text-lh-12" md="text-1.625rem text-lh-28 text-a-left">
                40000 تومان
              </div>

            </div>

            <div class="grid cols-1 gap-8 mt-10" lg="cols-2">

              <div class="payment p-relative border-1 border-c-lgray rounded-(1.25rem) h-6.125rem d-flex a-items-center">
                <div class="checkmark opacity-(0) h-2.188rem w-2.188rem rounded-full border-2 border-c-white bg-c-primary d-flex a-items-center j-content-center p-absolute -left-1.094rem -top-1.094rem ts-300">
                  <i class="ri-check-line text-c-white text-140"></i>
                </div>
                <div class="h-4.375rem w-4.375rem border-1 border-c-lgray rounded-0.938rem d-flex a-items-center j-content-center pa-2 mr-0.9rem">
                  <img class="w-full" src="./img/mellat.png" alt="درگاه بانک ملت">
                </div>
                <div class="text-1.625rem pr-6" lg="text-110 pr-4" xl="text-1.625rem pr-6">
                  درگاه به پرداخت ملت
                </div>
              </div>

              <div class="payment p-relative border-1 border-c-lgray rounded-(1.25rem) h-6.125rem d-flex a-items-center">
                <div class="checkmark opacity-(0) h-2.188rem w-2.188rem rounded-full border-2 border-c-white bg-c-primary d-flex a-items-center j-content-center p-absolute -left-1.094rem -top-1.094rem ts-300">
                  <i class="ri-check-line text-c-white text-140"></i>
                </div>
                <div class="h-4.375rem w-4.375rem border-1 border-c-lgray rounded-0.938rem d-flex a-items-center j-content-center pa-2 mr-0.9rem">
                  <img class="w-full" src="./img/zarinpal.png" alt="درگاه بانک ملت">
                </div>
                <div class="text-1.625rem pr-6" lg="text-110 pr-4" xl="text-1.625rem pr-6">
                  درگاه زرین پال
                </div>
              </div>


            </div>

            <div class="mt-12" md="mt-0 p-absolute bottom-16 inset-x-4">

              <div class="text-1.625rem text-c-fbgray text-a-center mb-2">
                با تکمیل کردن فرآیند خرید <span class="text-w-semibold">سیاست ها و قوانین</span> سایت را پذیرفته اید
              </div>
              <a href="#" class="buy-btn mb-0 w-auto" sm="w-21.875rem">تسویه حساب</a>

            </div>

          </div>
        </div>

        <!-- for pc -->
        <div class="pt-4 p-relative d-none" md="col-5 order-last border-right-2 border-c-lgray d-block" lg="col-4 pt-16 px-8">

          <div class="p-absolute bottom-0 z-(1) inset-x-0 :background-(linear-gradient(180deg,transparent,white)) h-27.25rem d-flex a-items-center j-content-center px-8" lg="px-20">
            <a class="w-full ml-5px bg-c-black d-flex a-items-center j-content-center h-5.625rem text-1.625rem text-c-white text-w-semibold rounded-1.25rem mx-auto mt-38 pa-4 text-a-center" href="#">ویرایش سبد خرید</a>
          </div>

          <div class="overflow-scroll :overflow-x-(hidden) px-10 h-54.5rem p-relative py-1.438rem bg-imgs" md="px-12 h-72rem" lg="h-57rem">


            <div class="rounded-(1.563rem) p-relative mb-10">

              <div class="w-(100%) p-relative overflow-hidden pt-16.5rem rounded-16">
                <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
              </div>
              <div class="dir-rtl">
                <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                <div class="mt-4" lg="d-flex a-items-center mt-0">
                  <div class="text-1.625rem text-w-semibold">
                    20000 تومان
                  </div>
                  <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                    ضریب موکاپ 2 است
                  </div>
                </div>
              </div>
            </div>

            <div class="rounded-(1.563rem) p-relative mb-10">

              <div class="w-(100%) p-relative overflow-hidden pt-16.5rem rounded-16">
                <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
              </div>
              <div class="dir-rtl">
                <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                <div class="mt-4" lg="d-flex a-items-center mt-0">
                  <div class="text-1.625rem text-w-semibold">
                    20000 تومان
                  </div>
                  <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                    ضریب موکاپ 2 است
                  </div>
                </div>
              </div>
            </div>

            <div class="rounded-(1.563rem) p-relative mb-10">

              <div class="w-(100%) p-relative overflow-hidden pt-16.5rem rounded-16">
                <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
              </div>
              <div class="dir-rtl">
                <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                <div class="mt-4" lg="d-flex a-items-center mt-0">
                  <div class="text-1.625rem text-w-semibold">
                    20000 تومان
                  </div>
                  <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                    ضریب موکاپ 2 است
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>


        <!-- for mobile -->
        <div class="swiper mySwiper col-12 order-first pa-6" md="d-none">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div parent class="rounded-(1.563rem) p-relative mb-10">
                <div class="w-(100%) p-relative overflow-hidden pt-24rem rounded-16" sm="pt-33rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
                </div>
                <div class="dir-rtl">
                  <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                  <div class="mt-4" lg="d-flex a-items-center mt-0">
                    <div class="text-1.625rem text-w-semibold">
                      20000 تومان
                    </div>
                    <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                      ضریب موکاپ 2 است
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div parent class="rounded-(1.563rem) p-relative mb-10">

                <div class="w-(100%) p-relative overflow-hidden pt-24rem rounded-16" sm="pt-33rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
                </div>
                <div class="dir-rtl">
                  <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                  <div class="mt-4" lg="d-flex a-items-center mt-0">
                    <div class="text-1.625rem text-w-semibold">
                      20000 تومان
                    </div>
                    <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                      ضریب موکاپ 2 است
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div parent class="rounded-(1.563rem) p-relative mb-10">

                <div class="w-(100%) p-relative overflow-hidden pt-24rem rounded-16" sm="pt-33rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
                </div>
                <div class="dir-rtl">
                  <h2 class="text-1.625rem text-w-semibold mt-6">موکاپ لایه باز لباس ورزشی</h2>

                  <div class="mt-4" lg="d-flex a-items-center mt-0">
                    <div class="text-1.625rem text-w-semibold">
                      20000 تومان
                    </div>
                    <div class="text-120 text-w-medium text-c-fbgray" lg="mr-4 text-1.625rem">
                      ضریب موکاپ 2 است
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <a class="col-12 d-block w-full bg-c-black d-flex a-items-center j-content-center h-5.625rem text-1.625rem text-c-white text-w-semibold rounded-1.25rem  pa-4 text-a-center" md="d-none" href="#">ویرایش سبد خرید</a>



      </div>
    </div>
  </div>
</section>
