<section id="mockup-cat">
  <div class="container">

    <!-- for pc -->
    <h1 class="text-2.25rem text-w-semibold d-none" md="d-block">مرجع تخخصی فروش موکاپ لایه باز</h1>
    <div class="d-none" md="grid cols-2 gap-8 mt-8" lg="d-none" xl="d-grid cols-4">
      <div parent class="grid cols-2 bg-white rounded-(1.563rem) pa-10">
        <div>
          <h2 class="text-1.75rem text-w-medium mb-0">موکاپ لایه باز بسته بندی</h2>
          <i class="ri-arrow-left-line text-1.55rem ts-300" parent-hover="mr-2"></i>
        </div>
        <div class="lollipop" parent-hover="bg-img-img/lollipopgreen.svg"></div>
      </div>

      <div parent class="grid cols-2 bg-white rounded-(1.563rem) pa-10">
        <div>
          <h2 class="text-1.75rem text-w-medium mb-0">موکاپ لایه باز پوشاک</h2>
          <i class="ri-arrow-left-line text-1.55rem ts-300" parent-hover="mr-2"></i>
        </div>
        <div class="hat" parent-hover="bg-img-img/hat-green.svg"></div>
      </div>

      <div parent class="grid cols-2 bg-white rounded-(1.563rem) pa-10">
        <div>
          <h2 class="text-1.75rem text-w-medium mb-0">موکاپ لایه باز وسیله نقلیه </h2>
          <i class="ri-arrow-left-line text-1.55rem ts-300" parent-hover="mr-2"></i>
        </div>
        <div class="car" parent-hover="bg-img-img/car-green.svg"></div>
      </div>

      <div parent class="grid cols-2 bg-white rounded-(1.563rem) pa-10">
        <div>
          <h2 class="text-1.75rem text-w-medium mb-0">موکاپ لایه باز دستگاه</h2>
          <i class="ri-arrow-left-line text-1.55rem ts-300" parent-hover="mr-2"></i>
        </div>
        <div class="watch" parent-hover="bg-img-img/iwatch.svg"></div>
      </div>


    </div>

    <!-- for mobile -->
    <div class="swiper swiperMockupCat mt-4" md="d-none" lg="d-flex" xl="d-none">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div parent class="grid gap-0 cols-12 bg-white rounded-(1.563rem) pa-8 border-1 border-c-lgray a-content-center ">
            <div class="col-8 d-flex a-items-center">
              <h2 class="text-145 text-w-semibold mb-0">موکاپ لایه باز بسته بندی</h2>
            </div>
            <div class="lollipop-mob col-4 h-18" parent-hover="bg-img-img/lollipopgreen.svg"></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div parent class="grid gap-0 cols-12 bg-white rounded-(1.563rem) pa-8 border-1 border-c-lgray a-content-center ">
            <div class="col-8 d-flex a-items-center">
              <h2 class="text-145 text-w-semibold mb-0">موکاپ لایه باز پوشاک</h2>
            </div>
            <div class="hat-mob col-4 h-18" parent-hover="bg-img-img/hat-green.svg"></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div parent class="grid gap-0 cols-12 bg-white rounded-(1.563rem) pa-8 border-1 border-c-lgray a-content-center ">
            <div class="col-8 d-flex a-items-center">
              <h2 class="text-130 text-w-semibold mb-0">موکاپ لایه باز وسیله نقلیه </h2>
            </div>
            <div class="car-mob col-4 h-18" parent-hover="bg-img-img/car-green.svg"></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div parent class="grid gap-0 cols-12 bg-white rounded-(1.563rem) pa-8 border-1 border-c-lgray a-content-center ">
            <div class="col-8 d-flex a-items-center">
              <h2 class="text-130 text-w-semibold mb-0">موکاپ لایه باز دستگاه</h2>
            </div>
            <div class="watch-mob col-4 h-18" parent-hover="bg-img-img/iwatch.svg"></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
