<section id="pagination" class="mt-14">
  <div class="container">

    <!-- for pc -->
    <div class="d-none" md="grid cols-12">
      <div class="col-12 d-flex a-items-center j-content-center" md="col-3 j-content-start">
        <div class="text-1.625rem text-c-fbgray">صفحه 1 از 25</div>
      </div>
      <div class="col-12 d-flex a-items-center j-content-center" md="col-9 j-content-end">
        <ul class="list-style-none pagination d-block text-a-center" md="d-flex" children-li="d-inline-flex">
          <li class="ml-2"><a class="active" href="#">1</a></li>
          <li class="ml-2"><a href="#">2</a></li>
          <li class="ml-2"><a href="#">3</a></li>
          <li class="ml-2"><a href="#">4</a></li>
          <li class="ml-2"><a href="#">5</a></li>
          <li class="ml-2"><a href="#">6</a></li>
          <li class="ml-2"><a href="#">7</a></li>
          <li class="ml-2"><a href="#">8</a></li>
          <li class="ml-2"><a href="#">9</a></li>
          <li class="ml-2"><a href="#">10</a></li>
          <li><a class="active" href="#"><i class="ri-arrow-left-s-line"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- for mobile -->
    <div class="d-flex j-content-center" md="d-none">
      <div class="d-flex">
        <div class="ml-2 h-3.75rem bg-c-white rounded-8 border-1 border-c-lgray d-flex a-items-center j-content-center py-2 px-4">
          <a class="text-145 text-c-black" href="#"><i class="ri-arrow-right-s-line"></i>صفحه قبلی</a>
        </div>

        <div class="mr-2 h-3.75rem bg-c-white rounded-8 border-1 border-c-lgray d-flex a-items-center j-content-center py-2 px-4">
          <a class="text-145 text-c-black" href="#">صفحه بعدی<i class="ri-arrow-left-s-line"></i></a>
        </div>
      </div>
    </div>


  </div>
</section>
