<section>
  <div class="container">
    <h1 class="text-2.25rem text-w-semibold mb-6 d-none" md="d-block">مرجع تخخصی فروش موکاپ لایه باز</h1>

    <div class="swiper mySwiper2 mb-8 mt-4" md="mt-0 mb-16">

      <div class="swiper-wrapper">

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">جعبه و کارتن</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">بطری</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">قوطی فلزی</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">قوطی پلاستیکی</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">شیشه مربا</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">بطری شیشه ای</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">ظرف </button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">مداد پداد</button>
        </div>

        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">پلاستیکی</button>
        </div>
        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">پلاستیکی</button>
        </div>
        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">پلاستیکی</button>
        </div>
        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">پلاستیکی</button>
        </div>
        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">پلاستیکی</button>
        </div>
        <div class="swiper-slide !w-auto">
          <button class="button  d-flex a-items-center j-content-center text-145 text-w-semibold py-9" md="text-1.75rem text-w-normal h-5.625rem">پلاستیکی</button>
        </div>



      </div>

      <div class="swiper-pagination"></div>

    </div>
    <h1 class="text-145 text-w-semibold text-a-center mb-0 mt-12" md="d-none">
      موکاپ لایه باز بسته بندی
    </h1>
  </div>
</section>
