<section>
  <div class="container">

    <div class="text-150 text-w-semibold text-a-center mt-12" md="text-2.25rem mt-0">فایل بوم مرجع تخصصی فونت فارسی</div>
    <div class="text-c-fbgray text-145 text-a-center mb-16 mt-4 px-8" md="text-1.625rem px-0">
      بهترین قلم های زبان فارسی را از فایل بوم پیدا کنید، اینجا گنجینه ای از
      فونت فارسی
      <br>
      و آثار هنرمندان ایرانی است
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div parent class="rounded-(1.563rem) p-relative">
            <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
              <div class="text-1.250rem opacity-(0.7) font-mgz mb-2">Professional Aria Font</div>
              <div class="text-2rem text-w-medium">فونت آریا حرفه ای</div>
            </div>
            <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 bg-c-transparent ts-500 border-2 border-c-transparent">

              <div class="grid cols-2 mt-4 mb-2">
                <div class="d-flex a-items-center">
                  <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
                </div>
                <div class="price text-1.625rem d-flex a-items-center j-content-end">
                  رایگان
                </div>
              </div>

              <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
                <ul class="list-style-none text-a-center ourlist" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
                  <li><a class="cat" href="#">فونت فارسی</a></li>
                  <span>،</span>
                  <li><a class="cat" href="#">فونت سریف</a></li>
                </ul>
              </div>

            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
              <img src="./img/post20.jpg" class="bgimg w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div parent class="rounded-(1.563rem) p-relative">
            <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
              <div class="text-1.250rem opacity-(0.7) font-mgz mb-2">Professional Aria Font</div>
              <div class="text-2rem text-w-medium">فونت آریا حرفه ای</div>
            </div>
            <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 bg-c-transparent ts-500 border-2 border-c-transparent">

              <div class="grid cols-2 mt-4 mb-2">
                <div class="d-flex a-items-center">
                  <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
                </div>
                <div class="price text-1.625rem d-flex a-items-center j-content-end">
                  رایگان
                </div>
              </div>

              <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
                <ul class="list-style-none text-a-center ourlist" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
                  <li><a class="cat" href="#">فونت فارسی</a></li>
                  <span>،</span>
                  <li><a class="cat" href="#">فونت سریف</a></li>
                </ul>
              </div>

            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
              <img src="./img/post12.png" class="bgimg w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div parent class="rounded-(1.563rem) p-relative">
            <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
              <div class="text-1.250rem opacity-(0.7) font-mgz mb-2">Professional Aria Font</div>
              <div class="text-2rem text-w-medium">فونت آریا حرفه ای</div>
            </div>
            <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 bg-c-transparent ts-500 border-2 border-c-transparent">

              <div class="grid cols-2 mt-4 mb-2">
                <div class="d-flex a-items-center">
                  <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
                </div>
                <div class="price text-1.625rem d-flex a-items-center j-content-end">
                  رایگان
                </div>
              </div>

              <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
                <ul class="list-style-none text-a-center ourlist" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
                  <li><a class="cat" href="#">فونت فارسی</a></li>
                  <span>،</span>
                  <li><a class="cat" href="#">فونت سریف</a></li>
                </ul>
              </div>

            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
              <img src="./img/post14.png" class="bgimg w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div parent class="rounded-(1.563rem) p-relative">
            <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
              <div class="text-1.250rem opacity-(0.7) font-mgz mb-2">Professional Aria Font</div>
              <div class="text-2rem text-w-medium">فونت آریا حرفه ای</div>
            </div>
            <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 bg-c-transparent ts-500 border-2 border-c-transparent">

              <div class="grid cols-2 mt-4 mb-2">
                <div class="d-flex a-items-center">
                  <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
                </div>
                <div class="price text-1.625rem d-flex a-items-center j-content-end">
                  رایگان
                </div>
              </div>

              <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
                <ul class="list-style-none text-a-center ourlist" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
                  <li><a class="cat" href="#">فونت فارسی</a></li>
                  <span>،</span>
                  <li><a class="cat" href="#">فونت سریف</a></li>
                </ul>
              </div>

            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
              <img src="./img/post19.png" class="bgimg w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
