<section id="vip">
  <div class="container mt-6" md="mt-0">

    <!-- for pc -->
    <h1 class="sec-title mb-8 d-none" md="d-block">خرید اشتراک</h1>
    <div class="d-none" md="grid cols-2 gap-6" lg="cols-4">

      <div class="rounded-(1.563rem) bg-c-milky border-2 border-c-lgray pa-12 h-40.938rem p-relative">
        <div>
          <div class="text-1.75rem text-w-medium mb-6">کاربر عادی</div>
          <div class="text-1.375rem text-c-fbgray">ارتباط با پشتیبانی سایت و ثبت
            درخواست خرید موکاپ و بهرمندی از فایل های رایگان موجود</div>

          <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-black border-0 text-c-white p-absolute bottom-12 right-12 text-1.625rem">عضویت</button>
        </div>
      </div>

      <div class="rounded-(1.563rem) bg-c-white pa-12 h-40.938rem p-relative">
        <div class="pppp">
          <div class="text-1.75rem text-w-medium mb-6">اشتراک یک ماهه</div>
          <div class="text-1.375rem text-c-fbgray">مصرف منصفانه</div>
          <div class="d-flex text-3rem text-w-semibold mb-4 mt-14" lg="text-2.5rem" xl="text-3rem">
            <div class="ml-2 ourprice" month="1">100000</div>
            <div>تومان</div>
          </div>

          <div class="select p-relative d-flex a-items-center">
            <i class="ri-arrow-down-s-line text-200 p-absolute left-0.875rem myarrow z-(10)"></i>
            <div class="selectBtn" data-type="20">
              دانلود 20 عدد
            </div>
            <div class="selectDropdown">
              <div class="option" data-type="20">دانلود 20 عدد</div>
              <div class="option" data-type="40">دانلود 40 عدد</div>
              <div class="option" data-type="60">دانلود 60 عدد</div>
              <div class="option" data-type="80">دانلود 80 عدد</div>
            </div>

          </div>

          <div class="text-1.375rem text-c-fbgray mt-2">پس از اتمام میزان دانلود قیمت
            ها با 80 درصد تخفیف نشان داده خواهد شد
          </div>

          <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-primary border-0 text-c-white p-absolute bottom-12 right-12 text-1.625rem ts-300" hover="border-0 bg-c-#29C169">خرید</button>
        </div>
      </div>

      <div class="rounded-(1.563rem) bg-c-white pa-12 h-40.938rem p-relative">
        <div class="pppp">
          <div class="text-1.75rem text-w-medium mb-6">اشتراک سه ماهه</div>
          <div class="text-1.375rem text-c-fbgray">مصرف منصفانه</div>
          <div class="d-flex text-3rem text-w-semibold mb-4 mt-14" lg="text-2.5rem" xl="text-3rem">
            <div class="ml-2 ourprice" month="3">250000</div>
            <div>تومان</div>
          </div>

          <div class="select p-relative d-flex a-items-center">
            <i class="ri-arrow-down-s-line text-200 p-absolute left-0.875rem myarrow z-(10)"></i>
            <div class="selectBtn" data-type="20">
              دانلود 20 عدد
            </div>
            <div class="selectDropdown">
              <div class="option" data-type="20">دانلود 20 عدد</div>
              <div class="option" data-type="40">دانلود 40 عدد</div>
              <div class="option" data-type="60">دانلود 60 عدد</div>
              <div class="option" data-type="80">دانلود 80 عدد</div>
            </div>

          </div>

          <div class="text-1.375rem text-c-fbgray mt-2">پس از اتمام میزان دانلود قیمت
            ها با 80 درصد تخفیف نشان داده خواهد شد
          </div>

          <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-primary border-0 text-c-white p-absolute bottom-12 right-12 text-1.625rem ts-300" hover="border-0 bg-c-#29C169">خرید</button>
        </div>
      </div>

      <div class="rounded-(1.563rem) bg-c-white pa-12 h-40.938rem p-relative">
        <div class="pppp">
          <div class="text-1.75rem text-w-medium mb-6">اشتراک شش ماهه</div>
          <div class="text-1.375rem text-c-fbgray">مصرف منصفانه</div>
          <div class="d-flex text-3rem text-w-semibold mb-4 mt-14" lg="text-2.5rem" xl="text-3rem">
            <div class="ml-2 ourprice" month="6">500000</div>
            <div>تومان</div>
          </div>

          <div class="select p-relative d-flex a-items-center">
            <i class="ri-arrow-down-s-line text-200 p-absolute left-0.875rem myarrow z-(10)"></i>
            <div class="selectBtn" data-type="20">
              دانلود 20 عدد
            </div>
            <div class="selectDropdown">
              <div class="option" data-type="20">دانلود 20 عدد</div>
              <div class="option" data-type="40">دانلود 40 عدد</div>
              <div class="option" data-type="60">دانلود 60 عدد</div>
              <div class="option" data-type="80">دانلود 80 عدد</div>
            </div>

          </div>

          <div class="text-1.375rem text-c-fbgray mt-2">پس از اتمام میزان دانلود قیمت
            ها با 80 درصد تخفیف نشان داده خواهد شد
          </div>

          <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-primary border-0 text-c-white p-absolute bottom-12 right-12 text-1.625rem ts-300" hover="border-0 bg-c-#29C169">خرید</button>
        </div>
      </div>

      <div>

      </div>

    </div>

    <!-- for mobile -->
    <div class="text-110 mb-4 mt-14 mr-2 d-flex a-items-center" md="d-none">
      <div class="h-2 w-2 bg-c-primary rounded-full ml-3">
      </div>
      برای دیدن پلن ها ورق بزنید
    </div>

    <div class="swiper mySwiper rounded-(1.563rem) mb-6" md="d-none">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="rounded-(1.563rem) bg-c-milky border-2 border-c-lgray pa-12 h-40.938rem p-relative">
            <div>
              <div class="text-160 text-w-medium mb-4" md="text-1.75rem mb-6">کاربر عادی</div>
              <div class="text-133 text-c-fbgray" md="text-1.375rem">ارتباط با پشتیبانی سایت و ثبت
                درخواست خرید موکاپ و بهرمندی از فایل های رایگان موجود</div>

              <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-black border-0 text-c-white p-absolute bottom-12 right-12 text-145" md="text-1.625rem">عضویت</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-(1.563rem) bg-c-white pa-12 h-40.938rem p-relative">
            <div class="pppp">
              <div class="text-160 text-w-medium mb-4" md="text-1.75rem mb-6">اشتراک یک ماهه</div>
              <div class="text-133 text-c-fbgray" md="text-1.375rem">مصرف منصفانه</div>
              <div class="d-flex text-3rem text-w-semibold mb-4 mt-14" lg="text-2.5rem" xl="text-3rem">
                <div class="ml-2 ourprice" month="1">100000</div>
                <div>تومان</div>
              </div>

              <div class="select p-relative d-flex a-items-center">
                <i class="ri-arrow-down-s-line text-200 p-absolute left-0.875rem myarrow z-(10)"></i>
                <div class="selectBtn" data-type="20">
                  دانلود 20 عدد
                </div>
                <div class="selectDropdown">
                  <div class="option" data-type="20">دانلود 20 عدد</div>
                  <div class="option" data-type="40">دانلود 40 عدد</div>
                  <div class="option" data-type="60">دانلود 60 عدد</div>
                  <div class="option" data-type="80">دانلود 80 عدد</div>
                </div>

              </div>

              <div class="text-133 text-c-fbgray mt-2" md="text-1.375rem">پس از اتمام میزان دانلود قیمت
                ها با 80 درصد تخفیف نشان داده خواهد شد
              </div>

              <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-primary border-0 text-c-white p-absolute bottom-12 right-12 text-145 ts-300" md="text-1.625rem"
                hover="border-0 bg-c-#29C169">خرید</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-(1.563rem) bg-c-white pa-12 h-40.938rem p-relative">
            <div class="pppp">
              <div class="text-160 text-w-medium mb-4" md="text-1.75rem mb-6">اشتراک سه ماهه</div>
              <div class="text-133 text-c-fbgray" md="text-1.375rem">مصرف منصفانه</div>
              <div class="d-flex text-3rem text-w-semibold mb-4 mt-14" lg="text-2.5rem" xl="text-3rem">
                <div class="ml-2 ourprice" month="3">250000</div>
                <div>تومان</div>
              </div>

              <div class="select p-relative d-flex a-items-center">
                <i class="ri-arrow-down-s-line text-200 p-absolute left-0.875rem myarrow z-(10)"></i>
                <div class="selectBtn" data-type="20">
                  دانلود 20 عدد
                </div>
                <div class="selectDropdown">
                  <div class="option" data-type="20">دانلود 20 عدد</div>
                  <div class="option" data-type="40">دانلود 40 عدد</div>
                  <div class="option" data-type="60">دانلود 60 عدد</div>
                  <div class="option" data-type="80">دانلود 80 عدد</div>
                </div>

              </div>

              <div class="text-133 text-c-fbgray mt-2" md="text-1.375rem">پس از اتمام میزان دانلود قیمت
                ها با 80 درصد تخفیف نشان داده خواهد شد
              </div>

              <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-primary border-0 text-c-white p-absolute bottom-12 right-12 text-145 ts-300" md="text-1.625rem"
                hover="border-0 bg-c-#29C169">خرید</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-(1.563rem) bg-c-white pa-12 h-40.938rem p-relative">
            <div class="pppp">
              <div class="text-160 text-w-medium mb-4" md="text-1.75rem mb-6">اشتراک شش ماهه</div>
              <div class="text-133 text-c-fbgray" md="text-1.375rem">مصرف منصفانه</div>
              <div class="d-flex text-3rem text-w-semibold mb-4 mt-14" lg="text-2.5rem" xl="text-3rem">
                <div class="ml-2 ourprice" month="6">500000</div>
                <div>تومان</div>
              </div>

              <div class="select p-relative d-flex a-items-center">
                <i class="ri-arrow-down-s-line text-200 p-absolute left-0.875rem myarrow z-(10)"></i>
                <div class="selectBtn" data-type="20">
                  دانلود 20 عدد
                </div>
                <div class="selectDropdown">
                  <div class="option" data-type="20">دانلود 20 عدد</div>
                  <div class="option" data-type="40">دانلود 40 عدد</div>
                  <div class="option" data-type="60">دانلود 60 عدد</div>
                  <div class="option" data-type="80">دانلود 80 عدد</div>
                </div>

              </div>

              <div class="text-133 text-c-fbgray mt-2" md="text-1.375rem">پس از اتمام میزان دانلود قیمت
                ها با 80 درصد تخفیف نشان داده خواهد شد
              </div>

              <button class="h-4.063rem w-9.5rem rounded-(0.938rem) d-flex a-items-center j-content-center bg-c-primary border-0 text-c-white p-absolute bottom-12 right-12 text-145 ts-300" md="text-1.625rem"
                hover="border-0 bg-c-#29C169">خرید</button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
