<section id="support" class="mt-24">
  <div class="container text-a-center">
    <div class="text-175 text-w-semibold" md="text-3.5rem text-w-medium">سوالی دارید؟ از پشتیبانی بپرسید</div>
    <a href="#" class="text-1.625rem text-w-semibold bg-c-#2C79FF text-c-white w-18.875rem h-5.625rem rounded-(1.25rem) d-inline-flex mt-8 a-items-center j-content-center">ارسال پیام</a>
    <div class="text-133 text-c-fbgray mt-6" md="text-1.625rem">تماس با شماره همراه 09116299428 پاسخگوی شماست</div>
  </div>
</section>
