<section id="plugin" class="mt-12" md="mt-18">
  <div class="container">


    <!-- for pc -->
    <div class="sec-title mb-8 d-none" md="d-block">آخرین افزونه های منتشر شده</div>
    <div class="d-none" md="grid cols-2 gap-8" lg="cols-3">
      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute z-(1) top-12 inset-x-0 text-a-center">
          <div class="text-1.250rem text-c-fbgray font-mgz mb-2">Yoast Seo
            Permium 2.0.156</div>
          <div class="text-2rem text-w-medium">افزونه بهبود سرعت سایت</div>
        </div>
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) py-4 px-6 filter-card ts-500 border-2 border-c-transparent" parent-hover="border-c-white">

          <div class="grid cols-2 mt-2 mb-2">
            <div class="d-flex a-items-center">
              <a class="text-1.375rem rounded-(0.625rem) bg-c-white h-3.875rem text-lh-3.875rem px-4 ts-200" hover="bg-c-black text-c-white">مشاهده بیشتر</a>
            </div>
            <div class="text-1.625rem d-flex a-items-center j-content-end">
              رایگان
            </div>
          </div>

          <div class="border-top-1 border-c-(#EEEEEE) pt-4 mt-2">
            <ul class="list-style-none text-a-center" children-li="d-inline-block text-1rem text-c-fbgray text-w-medium">
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه وردپرس</a></li>
              <span>،</span>
              <li><a class="text-c-fbgray ts-300" href="#" hover="text-c-fbdark">افزونه سئو</a></li>
            </ul>
          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-41.875rem rounded-16">
          <img src="./img/post11.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
    </div>

    <!-- for mobile -->
    <div class="grid gap-4 cols-2" md="d-none">
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post8.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post3.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post4.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post5.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post6.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post7.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post8.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post9.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
      <div class="p-relative">
        <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-3 filter-card">
          <h2 class="text-110 mb-3">موکاپ لایه باز لباس ..</h2>

          <div class="grid gap-x-0 cols-12">

            <div class="d-flex a-items-center col-8">
              <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
            </div>

            <div class="col-4 d-flex a-items-center j-content-end">
              <div parent class="rounded-full d-flex a-items-center j-content-center h-2rem w-2rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
            </div>
          </div>
        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-8">
          <img src="./img/post10.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
        </div>
      </div>
    </div>



  </div>
</section>
