<section>
  <div class="container mt-6" md="mt-0">
    <div class="bg-white rounded-(1.563rem)  d-flex a-items-center j-content-center pa-8" md="pa-26"
      xl="h-26.813rem bg-img-img/plans.svg bg-r-no-repeat :background-position-(bottom_left_4.25rem) :background-size-(contain) pr-26 j-content-start pa-0">
      <div>
        <div class="text-175 text-w-medium mb-8 text-a-center" md="text-a-right text-3.5rem">
          بدون محدودیت از پلاگین های پرمیوم
          <br />
          وردپرس استفاده کنید
        </div>

        <div class="text-a-center" md="d-flex a-items-center">
          <a class="rounded-6 mb-6 d-inline-flex a-items-center j-content-center text-145 text-w-semibold px-8 py-4 bg-c-black text-c-white" md="h-5.625rem w-fit-content rounded-(1.25rem) mb-0 py-0 text-1.625rem px-18">خرید اشتراک ویژه</a>
          <div class="text-145 text-c-fbgray" md="mr-8 text-1.625rem">تست شده توسط تیم فایل
            بوم</div>
        </div>
      </div>
    </div>
  </div>
</section>
