<section id="fblogo" class="mt-32 d-none" md="d-block">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="567" height="136.225" viewBox="0 0 567 136.225">
      <g id="Group_107" data-name="Group 107" transform="translate(-1573.778 -160.5)">
        <g id="Group_2" data-name="Group 2" transform="translate(1574.778 161.5)">
          <g id="Group_1" data-name="Group 1" transform="translate(0)">
            <path id="Path_1" data-name="Path 1"
              d="M558.771,125.987a15.275,15.275,0,0,1-15.258,15.258H512.52V114.914a24.473,24.473,0,0,0-24.443-24.443H474.2a35.5,35.5,0,0,0,0,71h17.755a15.278,15.278,0,0,1-14.913,12.046h-14.53v20.221h14.53a35.533,35.533,0,0,0,35.334-32.266h31.137a35.521,35.521,0,0,0,35.479-35.479V100.578H558.771Zm-66.478,15.258H474.2a15.277,15.277,0,0,1,0-30.554h13.878a4.226,4.226,0,0,1,4.216,4.222Z"
              transform="translate(-324.85 -59.653)" fill="none" stroke="#eaeaea" stroke-width="2" />
            <path id="Path_2" data-name="Path 2"
              d="M488.34,90.471a35.537,35.537,0,0,0-35.5,35.5v6.519H473.07v-6.519a15.271,15.271,0,1,1,30.541,0v11.055a4.226,4.226,0,0,1-4.216,4.222H456.048a35.51,35.51,0,0,0-35.472,35.473v17.159H440.8V176.718a15.273,15.273,0,0,1,15.252-15.252h43.346a24.473,24.473,0,0,0,24.443-24.443V125.969A35.537,35.537,0,0,0,488.34,90.471Z"
              transform="translate(-420.576 -59.653)" fill="none" stroke="#eaeaea" stroke-width="2" />
            <path id="Path_3" data-name="Path 3"
              d="M565.113,139.6v-13.84h-.007V87.9h-20.22v83.919a15.269,15.269,0,0,1-15.246,15.258H499.776a15.27,15.27,0,0,1-15.251-15.258V142.544H464.3v29.274A35.524,35.524,0,0,0,499.776,207.3H529.64a35.519,35.519,0,0,0,35.473-35.479v-.282a35.208,35.208,0,0,0,15.251,3.495H629.3V154.81H580.364A15.267,15.267,0,0,1,565.113,139.6Z"
              transform="translate(-189.992 -73.217)" fill="none" stroke="#eaeaea" stroke-width="2" />
            <path id="Path_4" data-name="Path 4"
              d="M567.364,104.035a35.532,35.532,0,0,0-35.492,35.5v11.055a24.468,24.468,0,0,0,24.437,24.443h25.974a15.268,15.268,0,0,1-14.9,12.046h-38.76a15.276,15.276,0,0,1-15.258-15.258V87.9H493.144v83.919A35.521,35.521,0,0,0,528.623,207.3h38.76a35.52,35.52,0,0,0,35.478-35.479V139.533A35.536,35.536,0,0,0,567.364,104.035ZM582.64,154.81H556.309a4.226,4.226,0,0,1-4.216-4.222V139.533a15.273,15.273,0,1,1,30.547,0V154.81Z"
              transform="translate(-37.861 -73.217)" fill="none" stroke="#eaeaea" stroke-width="2" />
            <rect id="Rectangle_1" data-name="Rectangle 1" width="45.156" height="20.169" transform="translate(385.381 113.884)" fill="none" stroke="#eaeaea" stroke-width="2" />
            <rect id="Rectangle_2" data-name="Rectangle 2" width="22.578" height="20.168" transform="translate(512.326)" fill="none" stroke="#eaeaea" stroke-width="2" />
            <rect id="Rectangle_3" data-name="Rectangle 3" width="22.578" height="20.169" transform="translate(199.917 113.793)" fill="none" stroke="#eaeaea" stroke-width="2" />
          </g>
        </g>
      </g>
    </svg>
  </div>
</section>
