<section id="mockup" class="pt-18">
  <div class="container">

    <div class="grid cols-2 mb-4" md="mb-8">
      <div class="sec-title !text-145" md="sec-title !text-2.25rem">موکاپ لایه باز</div>
      <div class="d-flex j-content-end a-items-center">
        <div parent class="see-more !text-145 pl-10 d-inline-block" md="!text-1.5rem"><i class="ri-arrow-left-s-line" parent-hover="left-(-5px)"></i>مشاهده بیشتر</div>
      </div>
    </div>

    <!-- for pc only -->
    <div class="!d-none" md="!d-grid cols-2 gap-8" lg="cols-4">

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post3.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post4.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post5.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post6.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post7.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post8.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>

      <div parent class="rounded-(1.563rem) p-relative">
        <div class="p-absolute rounded-(1.25rem) inset-x-4 bottom-4 z-(1) pa-4 filter-card">
          <h2 class="text-1.375rem">موکاپ لایه باز لباس ورزشی</h2>
          <a href="#" class="text-1rem text-c-fbgray">موکاپ البسه</a>

          <div class="grid cols-2 mt-2" sm="cols-1" md="cols-2" lg="cols-1" xl="cols-2">

            <div class="d-flex a-items-center">
              <a class="text-1.125rem rounded-(0.625rem) bg-white py-2 px-4 ts-200" sm="d-block w-full text-a-center" md="d-inline-block w-auto" lg="d-block w-full text-a-center" xl="d-inline-block w-auto" hover="bg-c-black text-c-white">مشاهده
                بیشتر</a>
            </div>

            <div class="text-1.375rem d-flex a-items-center j-content-end" sm="j-content-center" md="j-content-end" lg="j-content-center" xl="j-content-end">
              20.000 تومان
            </div>

          </div>

        </div>
        <div class="w-(100%) p-relative overflow-hidden pt-32.25rem rounded-16">
          <img src="./img/post9.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)">
        </div>
      </div>


    </div>

    <!-- for mobiles only -->
    <div class="swiper swiperMockup" md="d-none">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="p-relative">
            <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-2 filter-card">
              <h2 class="text-110 mb-1">موکاپ لایه باز لباس ..</h2>

              <div class="grid gap-x-0 cols-12">

                <div class="d-flex a-items-center col-8">
                  <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
                </div>

                <div class="col-4 d-flex a-items-center j-content-end">
                  <div parent class="rounded-full d-flex a-items-center j-content-center h-1.4rem w-1.4rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
                </div>
              </div>
            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-15.5rem rounded-8">
              <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="p-relative">
            <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-2 filter-card">
              <h2 class="text-110 mb-1">موکاپ لایه باز لباس ..</h2>

              <div class="grid gap-x-0 cols-12">

                <div class="d-flex a-items-center col-8">
                  <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
                </div>

                <div class="col-4 d-flex a-items-center j-content-end">
                  <div parent class="rounded-full d-flex a-items-center j-content-center h-1.4rem w-1.4rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
                </div>
              </div>
            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-15.5rem rounded-8">
              <img src="./img/post6.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="p-relative">
            <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-2 filter-card">
              <h2 class="text-110 mb-1">موکاپ لایه باز لباس ..</h2>

              <div class="grid gap-x-0 cols-12">

                <div class="d-flex a-items-center col-8">
                  <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
                </div>

                <div class="col-4 d-flex a-items-center j-content-end">
                  <div parent class="rounded-full d-flex a-items-center j-content-center h-1.4rem w-1.4rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
                </div>
              </div>
            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-15.5rem rounded-8">
              <img src="./img/post7.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="p-relative">
            <div class="p-absolute rounded-(0.938rem) inset-x-2 bottom-2 z-(1) pa-2 filter-card">
              <h2 class="text-110 mb-1">موکاپ لایه باز لباس ..</h2>

              <div class="grid gap-x-0 cols-12">

                <div class="d-flex a-items-center col-8">
                  <a href="#" class="text-90 text-c-fbdark">20.000 تومان</a>
                </div>

                <div class="col-4 d-flex a-items-center j-content-end">
                  <div parent class="rounded-full d-flex a-items-center j-content-center h-1.4rem w-1.4rem bg-c-white ts-300" hover="bg-c-black text-c-white"><i class="ri-arrow-left-line text-110 transform rotate-40"></i></div>
                </div>
              </div>
            </div>
            <div class="w-(100%) p-relative overflow-hidden pt-15.5rem rounded-8">
              <img src="./img/post8.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover)" />
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

</section>
