<section id="description" class="pt-8" md="pt-15">
  <div class="container">

    <div class="rounded-8 bg-c-white pa-6" md="border-2 bg-c-milky rounded-(1.563rem) border-c-lgray px-22 py-22" lg="px-64" xl="px-76">

      <div class="grid cols-12 border-bottom-1 border-c-lgray pb-6 mb-6" md="border-0 pb-0 mb-0">

        <!-- for pc , tablet -->
        <div class="col-12 d-none" sm="col-7 d-block">
          <h2 class="text-2rem text-w-semibold mb-0">موکاپ لایه باز لباس ورزشی</h2>
        </div>

        <!-- for mobile -->
        <div class="col-6 d-flex a-items-center text-c-fbgray text-110" md="d-none">کد طرح : 21684</div>

        <div class="col-6" md="col-5">
          <div class="d-flex a-items-center j-content-end h-full">
            <img class="w-2.188rem h-2.188rem ml-4" src="./img/psd.svg" />
            <div class="text-c-fbgray text-110" md="text-1.625rem">لایه باز</div>
          </div>
        </div>

      </div>

      <div class="d-none" md="d-flex a-items-center p-relative mt-4">
        <div class="text-c-fbgray text-1.625rem z-(1) bg-c-milky pl-4">کد طرح : 21684</div>
        <div class="h-0.125rem bg-c-lgray inset-x-0 p-absolute"></div>
      </div>

      <p class="text-c-fbgray text-133 text-w-medium mt-4 text-lh-10" md="text-1.625rem text-w-normal" children-a="text-c-#00A8FF text-d-(underline) :text-decoration-thickness-(1px)">
        برای تهران‌نشین‌ها، فشم صرفا یک روستای عادی نیست؛ فشم تهران برای ساکنین پایتخت یک راه قرار است، فرار از آلودگی و شلوغی شهر به دامان سرسبز و آرامش‌بخش طبیعت.<a> تست لینک بلیط یاب</a> کافی‌ست یکی از روزهای تعطیل بار مختصری بسته و راهی این روستا
        شوید
      </p>

      <ul class="mt-6 list-style-none desc-list border-bottom-1 border-c-lgray pb-4 mb-11" md="mt-4 border-bottom-0 pb-0 mb-0" children-li="text-c-fbgray">
        <li class="text-133" md="text-1.625rem">
          ابعاد : 5/5در8/5سانتی متر
        </li>
        <li class="text-133" md="text-1.625rem">
          حجم فایل : 9/2 مگابایت
        </li>
      </ul>

      <!-- for pc -->
      <div class="mt-8 border-top-2 border-c-lgray pt-10 grid cols-12 !d-none" md="!d-grid">

        <div class="col-12" md="col-7 d-flex a-items-center">
          <div class="text-2.25rem text-w-semibold text-a-center" md="text-a-right">20.000 تومان</div>
          <a href="#" class="d-inline-flex mt-4 a-items-center j-content-center text-1.625rem text-c-white text-w-bold bg-c-primary h-5.625rem rounded-(1.25rem) w-full" md="w-auto mr-10 px-24 mt-0">





            مستقیم
          </a>

        </div>

        <div class="col-12 d-flex a-items-center" md="col-5 j-content-end">
          <button class="button h-5.625rem text-1.625rem text-c-fbgray w-full px-0" md="w-auto px-16 ">
            خرید اشتراک
          </button>
        </div>
      </div>

      <div class="text-c-fbgray text-1.625rem mt-6 d-none" md="d-block">
        دانلود مستقیم فایل موکاپ لایه باز لباس ورزشی پس از پرداخت
      </div>

      <!-- for mobile -->
      <div class="d-flex a-items-center p-relative mb-8" md="!d-none">
        <div class="text-133">
        دانلود پس از پرداخت
        </div>

        <a href="#" class="border-1 border-c-lgray rounded-8 py-4 px-6 text-w-semibold text-c-black p-absolute left-0 text-133">اشتراک ویژه</a>
      </div>


    </div>
  </div>

  <div class="mobBuyBtn bg-c-primary p-fixed inset-x-6 bottom-37 rounded-8 h-19 z-(1000) grid cols-2 px-8" children-div="text-160 text-w-semibold text-c-white d-flex a-items-center" md="d-none">
    <div>خرید مستقیم</div>
    <div class="j-content-end">20.000 تومان</div>
  </div>
</section>
