<!-- for pc only -->
<section id="footer" class="pb-14 mt-6 d-none" md="d-block">
  <div class=":background-(linear-gradient(180deg,#fafafa,transparent)) h-20"></div>
  <div class="container">
    <div class="grid cols-1 text-a-center gap-16 p-relative" sm="cols-2 pb-60" lg="cols-5 gap-0 text-a-right pb-0 p-static">

      <div class="">
        <div class="text-1.75rem text-w-medium mb-4">منوی اصلی</div>

        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>صفحه نخست</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>درباره ما</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray" hover="text-c-black"><a>نمونه کار ها</a></div>
        <div></div>
        <div></div>
      </div>

      <div class="">
        <div class="text-1.75rem text-w-medium mb-4">خدمات ما</div>

        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>طراحی وبسایت</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>سئو و بهینه سازی</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray" hover="text-c-black"><a>طراحی اپلیکیشن</a></div>
        <div></div>
        <div></div>
      </div>

      <div class="">
        <div class="text-1.75rem text-w-medium mb-4">ارتباط و سفارش</div>

        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>تماس با ما</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray" hover="text-c-black"><a>ارسال ایمیل</a></div>
        <div></div>
        <div></div>
      </div>

      <div class="">
        <div class="text-1.75rem text-w-medium mb-4">همکاران</div>

        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>شتابان هاست</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray mb-2" hover="text-c-black"><a>هشت</a></div>
        <div class="text-1.375rem ts-200 text-c-fbgray" hover="text-c-black"><a>سرسنگین</a></div>
        <div></div>
        <div></div>
      </div>

      <div class="d-flex j-content-center" sm="p-absolute inset-x-0 bottom-0" md="!w-full" lg="j-content-end p-static">
        <div class="rounded-(1.25rem) bg-white pa-2 d-flex a-items-center j-content-center ml-4">
          <img class="w-full" src="./img/samandehi.png">
        </div>
        <div class="rounded-(1.25rem) bg-white pa-2 d-flex a-items-center j-content-center">
          <img class="w-full" src="./img/enamad.png">
        </div>
      </div>

    </div>

    <div class="d-flex j-content-center mt-36">
      <img src="./img/footer-logo.svg" />
    </div>
  </div>
</section>

<!-- for mobiles only -->
<div class="container mb-68" md="d-none">
  <div class="border-2 border-c-lgray pa-8 rounded-10 mt-12 p-relative">

    <div class="">
      <div class="text-140 text-w-semibold">
        به راحتی آب خوردن دسترسی
        <br>
        کامل به تمام محصولات
      </div>

      <a class="bg-c-black text-c-white rounded-6 py-4 px-8 text-140 text-w-semibold mt-6 d-inline-block" href="#">خرید اشتراک ویژه</a>
    </div>

    <img class="p-absolute left-0 bottom-0 w-11.5rem" src="./img/mob-vip.svg" alt="خرید اشتراک ویژه">

  </div>

  <ul class="text-a-center mt-12">
    <li class="d-inline-block ml-12"><a class="text-145 text-w-medium text-c-black" href="#">قوانین</a></li>
    <li class="d-inline-block ml-12"><a class="text-145 text-w-medium text-c-black" href="#">وبلاگ</a></li>
    <li class="d-inline-block"><a class="text-145 text-w-medium text-c-black" href="#">پشتیبانی</a></li>
  </ul>
</div>

<div class="mini-footer" md="d-none">
  <div class="d-flex p-relative d-flex j-content-center a-items-center mt-6 ">
    <i class="ri-shopping-basket-fill p-absolute right-10 text-230"></i>
    <a class="text-145 border-1 border-c-lgray text-c-fbdark py-2 px-10 text-w-semibold rounded-6 ml-4" href="#">خانه</a>
    <a id="openLoginForm2" class="text-145 border-1 border-c-lgray text-c-fbdark py-2 px-10 text-w-semibold rounded-6" href="#">ورود</a>
    <i id="miniSearch" class="ri-search-fill p-absolute left-10 text-230"></i>
  </div>
</div>

<div class="mini-search visibility-hidden opacity-0 -bottom-34" md="d-none">
  <form class="d-flex j-content-center w-full px-10" action="#" method="post">
      <input sm="w-90" class="bg-c-white w-66 rounded-8 px-4 py-4 border-1 border-c-lgray outline-none text-135" type="text" placeholder="دنبال چی هستی ؟" name="s" value="" />
    <div class="d-flex a-items-center mr-8">
      <div>
        <button class="bg-c-white text-c-black outline-none" type="submit" name="submit"><i class="ri-search-fill text-200"></i></button>
        <i id="miniSearchClose" class="ri-close-line text-220 mr-3"></i>
      </div>
    </div>
  </form>

</div>
