<section id="m-single">
  <div class="container">

    <!-- title and post changer just for pc and tablets -->
    <div class="grid cols-1 mb-8 !d-none" md="cols-2 !d-grid">

      <div class="d-flex j-content-center a-items-center" md="j-content-start">
        <div class="text-a-center" md="text-a-right">
          <h1 class="sec-title">موکاپ لایه باز لباس ورزشی</h1>
          <div class="text-1.5rem">منتشر شده توسط احسان</div>
        </div>
      </div>

      <div class="d-flex j-content-center a-items-center" md="j-content-end a-items-end">
        <button class="r-button ml-4"><i class="ri-arrow-right-s-line"></i></button>
        <button class="r-button"><i class="ri-arrow-left-s-line"></i></button>
        <button class="r-button mr-26"><i class="ri-close-line"></i></button>
      </div>
    </div>

    <div class="grid cols-12 gap-0 mt-12" md="mt-0">

      <!-- for pc and tanlets -->
      <div class="col-12 bg-c-white py-14 px-14 rounded-(1.563rem) d-none" md="col-5 rounded-right-(1.563rem) rounded-left-0 d-block">

        <div class="p-sticky top-34">

          <ul class="list-style-none" children-li="d-inline-block text-1.625rem" children-li:md="text-133" children-li:lg="text-1.625rem">
            <li><a href="#" class="text-c-fbgray ts-200" hover="text-c-fbdark">صفحه اصلی</a>
              <span class="mx-1 text-1.625rem text-c-fbgray">/</span>
            </li>
            <li><a href="#" class="text-c-fbgray ts-200" hover="text-c-fbdark">موکاپ لایه باز</a>
              <span class="mx-1 text-1.625rem text-c-fbgray">/</span>
            </li>

            <li><a href="#" class="text-c-fbgray ts-200" hover="text-c-fbdark">موکاپ لایه باز لباس ورزشی</a>
            </li>
          </ul>

          <div class="mt-12">
            <div class="text-1.625rem text-w-medium mb-6">اشتراک گذاری</div>
            <div class="p-relative" sm="d-flex a-items-center">

              <a href="#" class="text-1.375rem ml-3 text-c-fbgray px-4 border-1 border-c-lgray rounded-(0.625rem) d-inline-flex j-content-center a-items-center h-3.125rem w-3.125rem ts-300" sm="d-inline-flex mb-0 w-auto" md="d-flex mb-0 w-3.125rem"
                lg="d-inline-flex mb-0 w-auto" hover="bg-c-milky">
                <i class="ri-twitter-fill text-c-#3CA5FF" sm="ml-1" md="ml-0" lg="ml-1"></i>
                <span class="d-none" sm="d-inline" md="d-none" lg="d-inline">توویتر</span>
              </a>

              <a href="#" class="text-1.375rem ml-3 text-c-fbgray px-4 border-1 border-c-lgray rounded-(0.625rem) d-inline-flex j-content-center a-items-center h-3.125rem w-3.125rem ts-300" sm="d-inline-flex mb-0 w-auto" md="d-flex mb-0 w-3.125rem"
                lg="d-inline-flex mb-0 w-auto" hover="bg-c-milky">
                <i class="ri-pinterest-fill text-c-#F42323" sm="ml-1" md="ml-0" lg="ml-1"></i>
                <span class="d-none" sm="d-inline" md="d-none" lg="d-inline">پینترست</span>
              </a>

              <a href="#" class="view-modal text-1.375rem ml-3 mb-4 text-c-fbgray px-4 border-1 border-c-lgray rounded-(0.625rem) d-inline-flex j-content-center a-items-center h-3.125rem w-3.125rem ts-300" sm="d-inline-flex w-3.125rem mb-0 w-auto"
                hover="bg-c-milky">
                <i class="ri-more-fill text-c-fbgray"></i>

              </a>

              <a id="copyLink" href="#" class="text-1.375rem text-c-fbgray px-4 border-1 border-c-lgray rounded-(0.625rem) d-inline-flex j-content-center a-items-center h-3.125rem w-3.125rem ts-300" sm="d-inline-flex w-auto p-absolute left-0 w-auto"
                md="d-inline-flex w-3.125rem p-static" lg="d-inline-flex w-auto p-absolute left-0 w-auto" hover="bg-c-milky">
                <span class="d-none" sm="d-inline" md="d-none" lg="d-inline">کپی</span>
                <i class="ri-link text-c-fbgray mr-1"></i>
              </a>


              <div class="s-popup w-100" lg="w-110" xl="w-100">
                <header class="pb-5 border-bottom-1 border-c-lgray">
                  <span class="text-w-semibold text-150">اشتراک در شبکه های مجازی</span>
                  <div class="close"><i class="uil ri-close-line"></i></div>
                </header>
                <div class="content">
                  <p class="text-100">منتشر کن با :</p>
                  <ul class="icons">
                    <a href="#"><i class="fab ri-pinterest-fill"></i></a>
                    <a href="#"><i class="fab ri-twitter-fill"></i></a>
                    <a href="#"><i class="fab ri-instagram-fill"></i></a>
                    <a href="#"><i class="fab ri-whatsapp-fill"></i></a>
                    <a href="#"><i class="fab ri-telegram-fill"></i></a>
                  </ul>
                  <p class="text-100">اگه این پست رو دوست داشتی پس با دوستات به اشتراکش بزار تا اونا هم ازش لذت ببرن :)</p>
                </div>
              </div>

            </div>
          </div>

          <div class="mt-18 border-top-1 border-bottom-1 border-c-lgray py-12">
            <div class="text-1.625rem text-w-medium mb-4 text-a-center" md="text-a-right">دانلود فایل</div>
            <div class="grid cols-1 mb-4" sm="cols-2" md="cols-1" lg="cols-2">
              <div class="text-2.25rem text-w-semibold text-a-center" md="text-a-right">20.000 تومان</div>
              <div class="text-1.625rem text-c-fbgray d-flex j-content-center a-items-end" sm="j-content-end" md="j-content-start" lg="j-content-end">دانلود پس از پرداخت</div>
            </div>
            <a href="#description" id="directBuy" class="d-flex a-items-center j-content-center text-1.625rem text-c-white text-w-bold bg-c-primary h-5.625rem rounded-(1.25rem)">
              خرید مستقیم
            </a>
          </div>

          <div class="mt-12" sm="d-flex p-relative a-items-center" md="d-block" xl="d-flex p-relative a-items-center">
            <div class="text-1.625rem text-c-fbgray text-a-center" sm="text-a-right">دسترسی کامل به تمام محصولات</div>
            <button class="button d-block w-full mx-auto mt-4" sm="p-absolute d-inline-block mt-0 w-auto left-0 mx-none" md="p-static mt-4" xl="p-absolute d-inline-block mt-0 w-auto left-0 mx-none">اشتراک</button>
          </div>
        </div>

      </div>

      <!-- for mobile -->
      <div class="col-12 mt-2" md="d-none">

        <ul class="list-style-none" children-li="d-inline-block text-110 text-w-medium">
          <li><a href="#" class="text-c-primary">صفحه اصلی</a>
            <span class="mx-1 text-120">/</span>
          </li>
          <li><a href="#" class="text-c-primary">موکاپ لایه باز</a>
            <span class="mx-1 text-120">/</span>
          </li>

          <li><a href="#" class="text-c-primary">موکاپ لایه باز لباس ورزشی</a>
          </li>
        </ul>

        <h1 class="text-174 text-w-semibold !my-2" md="d-none">موکاپ لایه باز لباس ورزشی</h1>

        <div class="text-110 text-w-medium">
          منتشر شده توسط احسان
        </div>



      </div>

      <div class="col-12" md="col-7" i-md="order-first">

        {{! for pc monitors }}
        <div i-md="d-none" class="h-56.875rem overflow-scroll :overflow-x-(hidden) rounded-left-14 dir-ltr bg-imgs">
          <img src="./img/post5.jpg" class="w-full d-block single-imgs" />
          <img src="./img/post6.jpg" class="w-full d-block single-imgs" />
          <img src="./img/post7.jpg" class="w-full d-block single-imgs" />
          <img src="./img/post8.jpg" class="w-full d-block single-imgs" />
        </div>


        {{! for tablets and smartphones }}
        <div class="swiper mySwiper rounded-(1.563rem) mb-6" md="d-none">
          <div class="swiper-wrapper">
            <div class="swiper-slide">

              <div class="p-relative bg-transparent">
                <div class="w-(100%) p-relative overflow-hidden pt-36rem rounded-(1.563rem)" sm="pt-50rem">
                  <img src="./img/post.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="p-relative bg-transparent">
                <div class="w-(100%) p-relative overflow-hidden pt-36rem rounded-(1.563rem)" sm="pt-50rem">
                  <img src="./img/post2.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="p-relative bg-transparent">
                <div class="w-(100%) p-relative overflow-hidden pt-36rem rounded-(1.563rem)" sm="pt-50rem">
                  <img src="./img/post3.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="p-relative bg-transparent">
                <div class="w-(100%) p-relative overflow-hidden pt-36rem rounded-(1.563rem)" sm="pt-50rem">
                  <img src="./img/post4.jpg" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</section>
