<section id="vip-sec" class="mt-20 d-none" md="d-block">
  <div class="container">
    <div class="rounded-(1.563rem) d-flex a-items-center j-content-center  border-2 border-c-lgray h-25rem" xl="bg-img-img/vip-char2.svg bg-r-no-repeat :background-position-(top_right) :background-size-(contain) j-content-end pl-38"
      i-sm="px-10 py-14 h-auto">
      <div class="" lg="d-flex a-items-center">
        <div class="text-3.5rem text-w-medium" i-lg="text-a-center" lg="ml-38">به راحتی آب خوردن دسترسی <br> کامل به تمام محصولات</div>
        <button class="rounded-(0.938rem) h-5.625rem text-1.625rem text-c-white text-w-semibold w-auto px-16 bg-c-black" i-lg="d-block w-fit-content mx-auto mt-8">
          خرید اشتراک ویژه
        </button>
      </div>
    </div>
  </div>
</section>
