<section id="description" class="mt-15">
  <div class="container">
    <div class="border-2 bg-c-milky rounded-(1.563rem) border-c-lgray pa-8" md="px-22 py-22" lg="px-64" xl="px-76">

      <div class="text-a-center">
        <div class="font-mgz text-110 text-c-fbgray" md="text-1.5rem">YekanBakh Font</div>
        <h2 class="text-174 text-w-semibold mb-0" md="text-2rem">فونت فارسی یکان بخ حرفه ای</h2>
      </div>

      <p class="text-c-fbgray text-133 mt-4 text-lh-12 text-a-center" md="text-1.625rem" children-a="text-c-#00A8FF text-d-(underline) :text-decoration-thickness-(1px)">
        برای تهران‌نشین‌ها، فشم صرفا یک روستای عادی نیست؛ فشم تهران برای ساکنین
        پایتخت یک راه قرار است، فرار از آلودگی و شلوغی شهر به دامان سرسبز و
        آرامش‌بخش طبیعت.<a> تست لینک بلیط یاب</a>
        کافی‌ست یکی از روزهای تعطیل بار مختصری بسته و راهی این روستا شوید
      </p>

      <div class="grid cols-2 gap-0 mt-10" children-div="border-top-2 border-c-lgray h-4.75rem d-flex a-items-center j-content-center text-133" children-div:md="text-1.5rem">

        <div class="">
          فرمت
        </div>

        <div class=" font-mgz">
          TIF
        </div>

        <div class="">
          نسخه
        </div>

        <div class=" font-mgz">
          2.3
        </div>

        <div class="">
          حجم
        </div>

        <div class="">
          99/2 مگابایت
        </div>

      </div>

      <div class="d-none" md="mt-8 pt-10 grid cols-12">
        <div class="col-12" md="col-7 d-flex a-items-center">
          <div class="text-2.25rem text-w-semibold text-a-center" md="text-a-right">20.000 تومان</div>
          <a href="#" class="d-inline-flex mt-4 a-items-center j-content-center text-1.625rem text-c-white text-w-bold bg-c-primary h-5.625rem rounded-(1.25rem) w-full" md="w-auto mr-10 px-24 mt-0">
            خرید مستقیم
          </a>

        </div>
        <div class="col-12 d-flex a-items-center" md="col-5 j-content-end">
          <button class="button h-5.625rem text-1.625rem text-c-fbgray w-full px-0" md="w-auto px-16 ">
            خرید اشتراک
          </button>
        </div>
      </div>

      <div class="d-none" md="d-block text-c-fbgray text-1.625rem mt-6">
        دانلود مستقیم فایل موکاپ لایه باز لباس ورزشی پس از پرداخت
      </div>

      <!-- for mobile -->
      <div class="d-flex a-items-center p-relative mb-4 mt-6" md="!d-none">
        <div class="text-130">
        دانلود پس از پرداخت
        </div>

        <a href="#" class="border-1 border-c-lgray rounded-8 py-3 px-5 text-w-semibold text-c-black p-absolute left-0 text-130">اشتراک ویژه</a>
      </div>

    </div>

    <div class="bg-c-primary p-fixed inset-x-6 bottom-37 rounded-8 h-19 z-(1000) grid cols-2 px-8" children-div="text-160 text-w-semibold text-c-white d-flex a-items-center" md="d-none">
      <div>خرید مستقیم</div>
      <div class="j-content-end">20.000 تومان</div>
    </div>

  </div>
</section>
