<section id="vip-sec" class="d-none" md="d-block mt-20">
  <div class="container">
    <div class="rounded-(1.563rem) d-flex a-items-center j-content-center border-2 border-c-lgray h-29.813rem" xl="bg-img-img/vip-char.svg bg-r-no-repeat :background-position-(top_right) :background-size-(contain) j-content-center"
      i-sm="px-10 py-14 h-auto">
      <div class="text-a-center">
        <div class="text-3.5rem text-w-medium">به راحتی آب خوردن دسترسی کامل <br /> به تمام محصولات</div>
        <button class="rounded-(0.938rem) h-5.625rem text-1.625rem text-c-white text-w-semibold w-auto px-16 bg-c-black mt-6" i-lg="d-block w-fit-content mx-auto">
          خرید اشتراک ویژه
        </button>
      </div>
    </div>
  </div>
</section>
