<section id="font-images-section" class="mt-4" md="mt-16">
  <div class="container">

    <div class="d-none" md="grid cols-2 gap-8">

      <div>
        <div class="p-relative bg-transparent">
          <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-26rem">
            <img src="./img/font-post.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
          </div>
        </div>
      </div>

      <div>
        <div class="p-relative bg-transparent">
          <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-26rem">
            <img src="./img/font-post2.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
          </div>
        </div>
      </div>

      <div>
        <div class="p-relative bg-transparent">
          <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-26rem">
            <img src="./img/font-post3.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
          </div>
        </div>
      </div>

      <div>
        <div class="p-relative bg-transparent">
          <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-26rem">
            <img src="./img/font-post4.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
          </div>
        </div>
      </div>

      <div>
        <div class="p-relative bg-transparent">
          <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-26rem">
            <img src="./img/font-post5.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
          </div>
        </div>
      </div>

      <div>
        <div class="p-relative bg-transparent">
          <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-12rem" md="pt-18rem" lg="pt-26rem">
            <img src="./img/font-post6.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
          </div>
        </div>
      </div>

    </div>

    {{! for tablets and smartphones }}
    <div class="swiper mySwiper rounded-(1.563rem) mb-6" md="d-none">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="p-relative bg-transparent">
            <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-24rem" md="pt-18rem" lg="pt-26rem">
              <img src="./img/font-post.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="p-relative bg-transparent">
            <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-24rem" md="pt-18rem" lg="pt-26rem">
              <img src="./img/font-post2.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="p-relative bg-transparent">
            <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-24rem" md="pt-18rem" lg="pt-26rem">
              <img src="./img/font-post3.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="p-relative bg-transparent">
            <div class="w-(100%) p-relative overflow-hidden pt-18rem rounded-(1.563rem)" sm="pt-24rem" md="pt-18rem" lg="pt-26rem">
              <img src="./img/font-post4.png" class="w-(100%) h-(100%) p-absolute top-(0) right-(0) :object-fit-(cover) scale-in ts-(0.5s)" parent-hover="transform scale-(1.1)" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
