<section id="font-top-part">
  <div class="container">

    <div class="text-a-center d-none" lg="px-70 d-block">
      <h6 class="font-mgz text-1.5rem text-c-fbgray">YekanBakh Pro</h6>
      <h1 class="text-2.25rem text-w-semibold mb-6">فونت فارسی یکان بخ حرفه ای</h1>
      <div class="text-1.5rem text-c-fbgray">فونت فارسی</div>

      <div class="mt-6 border-top-2 border-c-lgray pt-8 grid cols-12">
        <div class="col-12" md="col-6 d-flex a-items-center j-content-end">

          <a href="#" class="d-inline-flex mt-4 a-items-center j-content-center text-1.625rem text-c-white text-w-bold bg-c-primary h-5.625rem rounded-(1.25rem) w-full" md="w-21.875rem px-24 mt-0">
            خرید مستقیم
          </a>

        </div>
        <div class="col-12 d-flex a-items-center" md="col-6 j-content-start">
          <button class="button h-5.625rem text-1.625rem text-c-fbgray w-full px-0" md="w-21.875rem px-24">
            خرید اشتراک
          </button>
        </div>
        <div class="col-12" md="col-6">

          <div class="text-c-fbgray text-1.625rem" md="pl-10 text-a-left">
            دانلود مستقیم پس از پرداخت
          </div>

        </div>
        <div class="col-6"></div>
      </div>
    </div>

  </div>
</section>
