<section>
  <div class="container mt-4" md="mt-0">
    <h1 class="text-2.25rem text-w-semibold mb-8 d-none" md="d-block">تماس با ما</h1>
    <div class="grid cols-1 gap-8" md="cols-3">

      <div parent class="rounded-(1.25rem) bg-c-white pa-11">

        <div class="d-flex a-items-center" md="d-block" lg="d-flex">
          <div class="h-3.75rem w-3.75rem rounded-(0.938rem) bg-c-white text-c-black border-1 border-c-lgray d-flex a-items-center j-content-center text-200 ts-300" parent-hover="bg-c-black text-c-white border-c-transparent"><i
              class="ri-pencil-ruler-line"></i></div>
          <div class="text-1.75rem text-w-semibold mr-4" md="mr-0 mt-4" lg="mt-0 mr-4">درخواست موکاپ</div>
        </div>


        <div class="text-1.375rem text-c-fbgray mt-6">
          ما دایرکتوری قوی از موکاپ داریم، میتوانید درخواستتان را از این مسیر
          ارسال کنید
        </div>

        <a href="#" class="d-flex w-fit-content mt-4 a-items-center text-c-black text-1.75rem text-w-medium">ارتباط<i class="ri-arrow-left-line text-1.5rem mr-2"></i></a>
      </div>

      <div parent class="rounded-(1.25rem) bg-c-white pa-11">
        <div class="d-flex a-items-center" md="d-block" lg="d-flex">
          <div class="h-3.75rem w-3.75rem rounded-(0.938rem) bg-c-white text-c-black border-1 border-c-lgray d-flex a-items-center j-content-center text-200 ts-300" parent-hover="bg-c-black text-c-white border-c-transparent"><i
              class="ri-bug-line"></i></div>
          <div class="text-1.75rem text-w-semibold mr-4" md="mr-0 mt-4" lg="mt-0 mr-4">مشکلات فنی سایت</div>
        </div>

        <div class="text-1.375rem text-c-fbgray mt-6">
          تیم پشتیبانی فایل بوم آماده برطرف سازی تمام مشکلات سایت میباشد، به ما
          اطلاع دهید
        </div>

        <a href="#" class="d-flex w-fit-content mt-4 a-items-center text-c-black text-1.75rem text-w-medium">ارتباط<i class="ri-arrow-left-line text-1.5rem mr-2"></i></a>
      </div>

      <div parent class="rounded-(1.25rem) bg-c-white pa-11">
        <div class="d-flex a-items-center" md="d-block" lg="d-flex">
          <div class="h-3.75rem w-3.75rem rounded-(0.938rem) bg-c-white text-c-black border-1 border-c-lgray d-flex a-items-center j-content-center text-200 ts-300" parent-hover="bg-c-black text-c-white border-c-transparent"><i
              class="ri-customer-service-fill"></i></div>
          <div class="text-1.75rem text-w-semibold mr-4" md="mr-0 mt-4" lg="mt-0 mr-4">اپراتور فایل بوم</div>
        </div>

        <div class="text-1.375rem text-c-fbgray mt-6">
          سلام، آماده پاسخگویی به سوالات شما دوستان عزیز هستیم، پیام دهید
        </div>

        <a href="#" class="d-flex w-fit-content mt-4 a-items-center text-c-black text-1.75rem text-w-medium">ارتباط<i class="ri-arrow-left-line text-1.5rem mr-2"></i></a>
      </div>

    </div>
  </div>
</section>
